{% extends 'index.html' %}
{% load static %}
{% block body %}


<!-- breadcrumb -->
<nav class="bg-gray py-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">OUR SERVICES</li>
        </ol>
    </div>
</nav>
<!-- /breadcrumb -->
<p class="mb-4"> <img class="img-fluid mb-4 mb-md-0" src="{%static 'images/backgrounds/main13.jpg' %}" alt="product-img">

    <!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- image circle background -->
                <br>
                <br>
                <br>

                <img class="rounded mx-auto d-block"  src="{%static 'images/backgrounds/main12.png' %}" height="300px" alt="product-img" >
                <br>
                <br>
                <br>
                <p>The Company shall exercise all possible measures to ensure that any Product booked on the Website is delivered within seven (7) working days from date of booking of order on the Website subject to successful realization of payment made against the said Order and availability of the Product(s). However, User understands and confirms that the Company shall not be held responsible for any delay in delivery of Product due to circumstances beyond the control of the Company, provided, the Company takes all required and necessary steps to ensure delivery of the Product within above mentioned timelines.</p>
                <br>
                <br>
                <br>
                <br>
                <img class="img-fluid mb-4 mb-md-0" src="{%static 'images/backgrounds/main15.jpg' %}" alt="product-img">
            </div>
            <div class="col-md-6">

                <p class="mb-4">
                <h2 class="section-title"><b>Our Services</b></h2>
                <p>I4India offers our customers a comprehensive range of customer support and service offerings in local geographies and languages. We have a highly experienced team of support and service engineers that enables us to provide a broad spectrum of services including:
                    <br>
                    <br>
                    Support Services, the base levels of support options that provides a variety of levels to meet your product support needs including, Bronze, Silver, Gold and Platinum offerings depending on your business needs and product.
                    <br>
                    <br>

                    Operational Services, the proactive support option that provides access to an expert and dedicated team, led by a Technical Account Manager, to deliver a variety of services.</p>

                <p class="mb-4"> <img class="img-fluid mb-4 mb-md-0" src="{%static 'images/backgrounds/main14.jpg' %}" height="300px"  alt="product-img">
                    <br>
                    <br>
                    <br>
                <p> Bringing alive the promise of a ‘Brighter Every Day’ for its customers, we offers a world-class ambience to shop both in-store and online at www.i4india.com, giving customers a seamless ‘omni-channel’ shopping experience that lets him/ her enjoy the best of both the online & the offline worlds.</p>
            </div>
        </div>
    </div>
</section>
<!-- /about -->

{% endblock %}