{% extends 'index.html' %}
{% load static %}
{% block body %}

<section class="forget-password-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="block text-center">
          <a class="logo" href="/">
            <img src="{% static 'images/logo1.png' %}" alt="logo">
          </a>
          <h2 class="text-center">Forgot Password</h2>
          <form action="." method="post" class="text-left clearfix">
            <p>Please enter the email address for your account. A verification code will be sent to you. Once you have received the verification code, you will be able to choose a new password for your account.</p>
            <br>
            <div style="padding-left: 110px;">{{ form.as_p }}</div>
            <p style="padding-left: 150px;"><input class="btn btn-primary" type="submit" value="Send e-mail"></p>
            {% csrf_token %}
          </form>
          <p class="mt-3"><a class="btn btn-primary" href="/login/">Back to log in</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}