{% extends 'index.html' %}
{% load static %}
{% block body %}
<section class="forget-password-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="block text-center">
          <a class="logo" href="/">
            <img src="{% static 'images/logo1.png' %}" alt="logo">
          </a>
          <h2 class="text-center">Reset your password</h2>
          <form class="text-left clearfix">
            <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
          </form>
          <p class="mt-3"><a class="btn btn-primary" href="/login/">Back to log in</a></p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}